@import '../../_palette.scss';

.book-details--wrapper {
  display: flex;
  padding-right: 50px;
}

.book-details--info {
  margin-left: 20px;
}

.book-details--title {
  color: $black;
  font-size: 20px;
}

.book-details--publish-date,
.book-details--publisher,
.book-details--isbn {
  margin-top: 8px;
  color: $gray-mid;
  font-size: 14px;
}