@import '../../_palette.scss';

.book-cover {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 55px;
  margin: 0;
  overflow: hidden;
  &.book-cover_details {
    width: 102px;
    height: 144px;
  }
}